* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #F0EDCC;
    --secondary: #02343F;
}

body {
    font-family: 'Comfortaa', sans-serif, cursive;
    background-color: var(--secondary);
    color: var(--primary);
    position: relative;
    user-select: none;
}

.float-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.top > *:not(#hp) {
    padding-left: 1rem;
}

#progress {
    width: calc(0.7 * 100vw);
    height: 10px;
    background-color: var(--primary);
}

#hp {
    --height: 30px;
    --width: 400px;

    width: calc(1 * var(--width));
    height: var(--height);
    background-color: var(--primary);
    margin-bottom: 1rem;
    transition: 50ms;
    transform-origin: left;
}

#hp.alert {
    background-color: lightpink;
}

#hp.danger {
    background-color: red;
}

#score {
    font-size: 1.75rem;
    padding-top: .5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
