* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #F0EDCC;
    --secondary: #02343F;
}

body {
    font-family: 'Comfortaa', sans-serif, cursive;
    background-color: var(--secondary);
    color: var(--primary);
    position: relative;
    user-select: none;
}

.float-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.float-container .top {
    flex-grow: 1;
}

.float-container .top > *:not(#hp) {
    padding-left: 1rem;
}

.top, .bottom {
    display: none;
}

.float-container #dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
}

.float-container #dialog {
    padding: 2rem;
}

/* Play Dialog */
#play-dialog h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

#play-dialog form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
}

.difficulty {
    display: flex;
    justify-content: space-between;
    gap: 0 1rem;
}

.difficulty > label {
    padding: 1rem 1.5rem;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 100ms;
}

.difficulty > label:hover, .difficulty > input:checked + label {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--secondary);
}

.difficulty input {
    display: none;
}

.player {
    display: flex;
    flex-direction: column;
    gap: .25rem 0;
}

.player input {
    all: unset;
    border-radius: 10px;
    padding: .75rem;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    font-size: 1.25rem;
}

#play-dialog button {
    all: unset;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 100ms;
}

#play-dialog button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--secondary);
}

/* -------- */

#progress {
    width: calc(0.7 * 100vw);
    height: 10px;
    background-color: var(--primary);
}

#hp {
    --height: 30px;
    --width: 400px;

    width: calc(1 * var(--width));
    height: var(--height);
    background-color: var(--primary);
    margin-bottom: 1rem;
    transition: 50ms;
    transform-origin: left;
}

#hp.alert {
    background-color: lightpink;
}

#hp.danger {
    background-color: red;
}

#score {
    font-size: 1.75rem;
    padding-top: .5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}